Repository AndrewUsher/casual-cognitions, changes with the labels that .github/labeler.yml gives for each.
All labels: deps, config

.github/labeler.yml:

deps:
  - 'package.json'
  - 'yarn.lock'
config:
  - '.babelrc'
  - '.eslintrc.js'
  - 'husky.config.js'
  - 'lighthouserc.js'
  - 'package.json'
  - 'netlify.toml'
  - 'renovate.json'

chore: remove bundle analyzer
  gatsby-config.js
  npm-packages-offline-cache/acorn-walk-7.2.0.tgz
  npm-packages-offline-cache/bfj-6.1.2.tgz
  npm-packages-offline-cache/check-types-8.0.3.tgz
  npm-packages-offline-cache/ejs-2.7.4.tgz
  npm-packages-offline-cache/filesize-3.6.1.tgz
  npm-packages-offline-cache/gatsby-plugin-webpack-bundle-analyser-v2-1.1.12.tgz
  npm-packages-offline-cache/gzip-size-5.1.1.tgz
  npm-packages-offline-cache/hoopy-0.1.4.tgz
  npm-packages-offline-cache/opener-1.5.1.tgz
  npm-packages-offline-cache/tryer-1.0.1.tgz
  npm-packages-offline-cache/webpack-bundle-analyzer-3.8.0.tgz
  package.json
  yarn.lock
Labels: deps, config

chore: remove bundle analyzer
  gatsby-config.js
  npm-packages-offline-cache/acorn-walk-7.2.0.tgz
  npm-packages-offline-cache/bfj-6.1.2.tgz
  npm-packages-offline-cache/check-types-8.0.3.tgz
  npm-packages-offline-cache/ejs-2.7.4.tgz
  npm-packages-offline-cache/filesize-3.6.1.tgz
  npm-packages-offline-cache/gatsby-plugin-webpack-bundle-analyser-v2-1.1.12.tgz
  npm-packages-offline-cache/gzip-size-5.1.1.tgz
  npm-packages-offline-cache/hoopy-0.1.4.tgz
  npm-packages-offline-cache/opener-1.5.1.tgz
  npm-packages-offline-cache/tryer-1.0.1.tgz
  npm-packages-offline-cache/webpack-bundle-analyzer-3.8.0.tgz
  package.json
  yarn.lock
Labels: deps, config

feat: add github action for jest
  .github/workflows/test.yml
Labels: none

feat: add github action for jest
  .github/workflows/test.yml
Labels: none

fix(deps): update gatsby monorepo
  npm-packages-offline-cache/babel-preset-gatsby-0.5.11.tgz
  npm-packages-offline-cache/babel-preset-gatsby-0.5.12.tgz
  npm-packages-offline-cache/better-opn-1.0.0.tgz
  npm-packages-offline-cache/better-opn-2.0.0.tgz
  npm-packages-offline-cache/gatsby-2.24.66.tgz
  npm-packages-offline-cache/gatsby-2.24.67.tgz
  npm-packages-offline-cache/gatsby-cli-2.12.101.tgz
  npm-packages-offline-cache/gatsby-cli-2.12.102.tgz
  npm-packages-offline-cache/gatsby-core-utils-1.3.21.tgz
  npm-packages-offline-cache/gatsby-core-utils-1.3.22.tgz
  npm-packages-offline-cache/gatsby-page-utils-0.2.26.tgz
  npm-packages-offline-cache/gatsby-page-utils-0.2.27.tgz
  npm-packages-offline-cache/gatsby-plugin-manifest-2.4.32.tgz
  npm-packages-offline-cache/gatsby-plugin-manifest-2.4.33.tgz
  npm-packages-offline-cache/gatsby-plugin-mdx-1.2.42.tgz
  npm-packages-offline-cache/gatsby-plugin-mdx-1.2.43.tgz
  npm-packages-offline-cache/gatsby-plugin-offline-3.2.29.tgz
  npm-packages-offline-cache/gatsby-plugin-offline-3.2.30.tgz
  npm-packages-offline-cache/gatsby-plugin-page-creator-2.3.29.tgz
  npm-packages-offline-cache/gatsby-plugin-page-creator-2.3.30.tgz
  npm-packages-offline-cache/gatsby-plugin-sharp-2.6.37.tgz
  npm-packages-offline-cache/gatsby-plugin-sharp-2.6.38.tgz
  npm-packages-offline-cache/gatsby-recipes-0.2.29.tgz
  npm-packages-offline-cache/gatsby-recipes-0.2.30.tgz
  npm-packages-offline-cache/gatsby-remark-copy-linked-files-2.3.17.tgz
  npm-packages-offline-cache/gatsby-remark-copy-linked-files-2.3.18.tgz
  npm-packages-offline-cache/gatsby-remark-images-3.3.31.tgz
  npm-packages-offline-cache/gatsby-remark-images-3.3.32.tgz
  npm-packages-offline-cache/gatsby-remark-responsive-iframe-2.4.15.tgz
  npm-packages-offline-cache/gatsby-remark-responsive-iframe-2.4.16.tgz
  npm-packages-offline-cache/gatsby-source-filesystem-2.3.31.tgz
  npm-packages-offline-cache/gatsby-source-filesystem-2.3.32.tgz
  npm-packages-offline-cache/gatsby-telemetry-1.3.36.tgz
  npm-packages-offline-cache/gatsby-telemetry-1.3.37.tgz
  npm-packages-offline-cache/gatsby-transformer-remark-2.8.36.tgz
  npm-packages-offline-cache/gatsby-transformer-remark-2.8.37.tgz
  npm-packages-offline-cache/open-6.4.0.tgz
  npm-packages-offline-cache/open-7.3.0.tgz
  package.json
  yarn.lock
Labels: deps, config

fix(deps): update gatsby monorepo
  npm-packages-offline-cache/babel-preset-gatsby-0.5.11.tgz
  npm-packages-offline-cache/babel-preset-gatsby-0.5.12.tgz
  npm-packages-offline-cache/better-opn-1.0.0.tgz
  npm-packages-offline-cache/better-opn-2.0.0.tgz
  npm-packages-offline-cache/gatsby-2.24.66.tgz
  npm-packages-offline-cache/gatsby-2.24.67.tgz
  npm-packages-offline-cache/gatsby-cli-2.12.101.tgz
  npm-packages-offline-cache/gatsby-cli-2.12.102.tgz
  npm-packages-offline-cache/gatsby-core-utils-1.3.21.tgz
  npm-packages-offline-cache/gatsby-core-utils-1.3.22.tgz
  npm-packages-offline-cache/gatsby-page-utils-0.2.26.tgz
  npm-packages-offline-cache/gatsby-page-utils-0.2.27.tgz
  npm-packages-offline-cache/gatsby-plugin-manifest-2.4.32.tgz
  npm-packages-offline-cache/gatsby-plugin-manifest-2.4.33.tgz
  npm-packages-offline-cache/gatsby-plugin-mdx-1.2.42.tgz
  npm-packages-offline-cache/gatsby-plugin-mdx-1.2.43.tgz
  npm-packages-offline-cache/gatsby-plugin-offline-3.2.29.tgz
  npm-packages-offline-cache/gatsby-plugin-offline-3.2.30.tgz
  npm-packages-offline-cache/gatsby-plugin-page-creator-2.3.29.tgz
  npm-packages-offline-cache/gatsby-plugin-page-creator-2.3.30.tgz
  npm-packages-offline-cache/gatsby-plugin-sharp-2.6.37.tgz
  npm-packages-offline-cache/gatsby-plugin-sharp-2.6.38.tgz
  npm-packages-offline-cache/gatsby-recipes-0.2.29.tgz
  npm-packages-offline-cache/gatsby-recipes-0.2.30.tgz
  npm-packages-offline-cache/gatsby-remark-copy-linked-files-2.3.17.tgz
  npm-packages-offline-cache/gatsby-remark-copy-linked-files-2.3.18.tgz
  npm-packages-offline-cache/gatsby-remark-images-3.3.31.tgz
  npm-packages-offline-cache/gatsby-remark-images-3.3.32.tgz
  npm-packages-offline-cache/gatsby-remark-responsive-iframe-2.4.15.tgz
  npm-packages-offline-cache/gatsby-remark-responsive-iframe-2.4.16.tgz
  npm-packages-offline-cache/gatsby-source-filesystem-2.3.31.tgz
  npm-packages-offline-cache/gatsby-source-filesystem-2.3.32.tgz
  npm-packages-offline-cache/gatsby-telemetry-1.3.36.tgz
  npm-packages-offline-cache/gatsby-telemetry-1.3.37.tgz
  npm-packages-offline-cache/gatsby-transformer-remark-2.8.36.tgz
  npm-packages-offline-cache/gatsby-transformer-remark-2.8.37.tgz
  npm-packages-offline-cache/open-6.4.0.tgz
  npm-packages-offline-cache/open-7.3.0.tgz
  package.json
  yarn.lock
Labels: deps, config

feat: add release github action
  .github/workflows/release.yml
Labels: none

chore(husky): remove pre-push hook
  husky.config.js
Labels: config

chore: add release script
  package.json
Labels: deps, config

chore: add git credentials to release action
  .github/workflows/release.yml
Labels: none

chore(release): 2.4.1
  CHANGELOG.md
  package.json
Labels: deps, config
